        /* fonts */
        
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
        /* common styles or utilities  */
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
        
        .container {
            max-width: 1321px;
            margin: auto;
            margin-bottom: 50px;
        }
        
        .half-width {
            width: 50%;
        }
        
        #bg-red {
            background-color: #DD0000;
            color: #FFFFFF;
            border: transparent;
        }
        /* --------------
top section start
----------------- */
        
        .top-section {
            background-color: #161616;
            display: flex;
            padding: 0 106px;
            border-radius: 30px;
            margin: 5%;
        }
        
        .top-section-info {
            color: #FFFFFF;
        }
        
        .top-section-info h1 {
            font-size: 70px;
            font-weight: 700;
            line-height: 70px;
            margin-top: 111px;
            margin-bottom: 20px;
        }
        
        .top-section-info p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 40px;
        }
        
        .top-section-info a {
            color: #FFF;
            background-color: #DD0000;
            text-decoration: none;
            padding: 16px 25px;
            border-radius: 5px;
            transition: ease-out 0.5s;
        }
        
        .top-section-info a:hover {
            box-shadow: inset 200px 0 0 0 rgb(162, 72, 214);
        }
        
        .top-section-info a span {
            margin: 0 10px;
        }
        
        .top-section-img img {
            width: 100%;
        }
        /* --------------
top section end
----------------- */
        /* --------------
middle section start
----------------- */
        
        .middle-section-cotainer {
            display: grid;
            grid-template-columns: 312px auto;
            gap: 24px;
            margin: 5%;
        }
        
        .button-contaier {
            width: 100%;
            height: 312px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: #161616;
            border-radius: 10px;
        }
        
        .middle-btn-item {
            width: 252px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .middle-btn-item a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 252px;
            height: 64px;
            color: #161616;
            background-color: #FFFFFF;
            font-size: 20px;
            font-weight: 500;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
        }
        
        .middle-btn-item a:hover {
            background-color: #DD0000;
            color: #FFFFFF;
            border: transparent;
        }
        
        .middle-card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }
        
        .middle-card-item {
            border: 1px solid #E8E8E8;
            border-radius: 10px;
        }
        
        .middle-card-img img {
            width: 100%;
        }
        
        .card-info {
            padding: 15px;
        }
        
        .card-info h2 {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
        
        .card-info span {
            margin-right: 10px;
        }
        
        .transfer-btn a {
            border: 1px solid #161616;
            border-radius: 5px;
            text-decoration: none;
            color: #161616;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            padding: 5px 15px;
        }
        
        .view-all {
            display: none;
            margin: 60px auto;
            width: 131px;
            height: 47px;
        }
        
        .view-all a {
            text-decoration: none;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            padding: auto;
            text-align: center;
            color: #FFFFFF;
            background-color: #DD0000;
            padding: 12px 16px;
            border-radius: 5px;
        }
        /* match card */
        
        .match-card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10% 5% 5%;
        }
        
        .match-card-img {
            display: flex;
        }
        
        .match-card-info h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #161616;
        }
        
        .match-card-info p {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #4D4D4D;
        }
        /* group card */
        
        .group-card-item {
            width: 100%;
        }
        
        .group-card-item h2 {
            text-align: center;
        }
        
        .group-item-1 {
            display: flex;
            justify-content: space-between;
            padding: 5%;
        }
        
        .group-item-1 img {
            width: 30%;
            border-radius: 50%;
        }
        
        .group-item-1 h3 {
            width: 50%;
        }
        
        .group-item-1:nth-child(2n) {
            background-color: #47f7ff63;
            margin: 0 5%;
            border-radius: 5px;
        }
        
        .group-item-1:nth-child(2n+1) {
            background-color: #ff634740;
            margin: 0 5%;
            border-radius: 5px;
        }
        /* --------------
middle section end
----------------- */
        /* --------------
footer start
----------------- */
        
        footer {
            color: #FFFFFF;
            background-color: #161616;
            padding-bottom: 40px;
        }
        
        .footer-container {
            max-width: 1321px;
            margin: auto;
            padding-top: 50px;
        }
        
        .footer-container h1 {
            text-align: center;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
        }
        
        footer ul li {
            list-style: none;
        }
        
        .footer-option ul {
            display: flex;
            justify-content: space-evenly;
            gap: 40px;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
        
        .footer-option ul li a {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #B9B9B9;
        }
        
        .social-icons ul {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }
        
        .social-icons ul li {
            margin: 10px;
        }
        
        .social-icons ul li a {
            text-decoration: none;
            color: #DD0000;
        }
        
        .social-icons ul li a :hover {
            color: #1DA1F2;
        }
        /* --------------
footer end
----------------- *




/* responsive start */
        /*  X-Small devices (portrait phones, less than 576px) */
        
        @media screen and (max-width: 767.98px) {
            .top-section {
                flex-direction: column;
                padding: 0 5%;
                margin: 5%;
            }
            .top-section-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .top-section-info h1 {
                width: 100%;
                font-size: 22px;
                line-height: 33px;
                text-align: center;
            }
            .top-section-info p {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                width: 100%;
                height: 30px;
                overflow: hidden !important;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .top-section .half-width img {
                width: 100%;
                position: relative;
                top: 50%;
                left: 50%;
                margin-top: 35px;
            }
            .middle-section-cotainer {
                grid-template-columns: 1fr;
                margin: auto 5%;
            }
            .middle-card-container {
                grid-template-columns: 1fr;
            }
            .footer-option ul {
                flex-direction: column;
                align-items: center;
            }
            .social-icons ul {
                margin-bottom: 0;
            }
        }
        /* Medium devices (tablets, 768px and up) */
        
        @media screen and (min-width: 767.99px) and (max-width: 991.98px) {
            .top-section {
                padding: 0 5%;
                max-width: 768px;
            }
            .top-section-info {
                padding-left: 5%;
            }
            .top-section-info h1 {
                width: 100%;
                margin-top: 50px;
                font-size: 40px;
                line-height: 50px;
            }
            .top-section-info p {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 14px;
                padding: 0;
            }
            .top-section-info a {
                padding: 10px 15px;
            }
            .middle-section-cotainer {
                grid-template-columns: 1fr;
                margin: auto 5%;
            }
            .button-contaier {
                flex-direction: row;
                height: auto;
                gap: 1rem;
                background-color: transparent;
            }
            .middle-btn-item {
                width: 100%;
                text-align: center;
            }
            .middle-card-container {
                grid-template-columns: repeat(2, 1fr);
            }
            .view-all {
                display: block;
            }
        }
        /* Large devices (desktops, less than 1200px) */
        
        @media screen and (min-width:991.99px) and (max-width: 1199.98px) {
            .top-section {
                padding: 0 5%;
                max-width: 1199px;
            }
            .top-section-info {
                padding-left: 5%;
            }
            .top-section-info h1 {
                width: 100%;
                margin-top: 50px;
                font-size: 60px;
                line-height: 55px;
            }
        }
        /* X-Large devices (large desktops, less than 1400px) */
        
        @media (max-width: 1399.98px) {}